@model PPcore.Models.project

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
            <table><tr><td><h4 class="txt-color-blue">ข้อมูลโครงการและผู้สนับสนุน</h4></td><td class="txt-color-blue" style="padding-top:2px">&nbsp;&nbsp;&nbsp;&nbsp;เพิ่มข้อมูลโครงการและผู้สนับสนุน</td></tr></table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab">โครงการ</a>
                            </li>
                        </ul>
                    <div style="background-color:#093D6A;height:8px;"></div>
                    <br />
                    <div id="renderBody">

                        <form asp-action="Create">
                            <div class="pull-right" style="margin-top:-72px;">
                                <button id="btnSave" type="submit" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-floppy-o" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;จัดเก็บ&nbsp;&nbsp;</button>
                                <div id="btnDetails" class="btn btn-default btn-panel-yellow" onclick="location.href='@Url.Action("Index", "projects")'">&nbsp;<i class="fa fa-file-text" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;ดูข้อมูลทั้งหมด</div>
                            </div>
                            <div class="form-horizontal">
                                <br />
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-8">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="project_code" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="project_code" class="form-control" />
                                                    <span asp-validation-for="project_code" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="project_date" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input asp-for="project_date" class="form-control" readonly style="background-color:white">
                                                        <span class="input-group-btn">
                                                            <button id="project_date_button" class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <span asp-validation-for="project_date" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="project_desc" class="control-label"></label></div>
                                                <div class="col-md-10">
                                                    <input asp-for="project_desc" class="form-control" />
                                                    <span asp-validation-for="project_desc" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="project_approve_date" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input asp-for="project_approve_date" class="form-control" readonly style="background-color:white">
                                                        <span class="input-group-btn">
                                                            <button id="project_approve_date_button" class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <span asp-validation-for="project_approve_date" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="ref_doc" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="ref_doc" class="form-control" />
                                                    <span asp-validation-for="ref_doc" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="budget" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="budget" class="form-control" />
                                                    <span asp-validation-for="budget" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="project_manager" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="project_manager" class="form-control" />
                                                    <span asp-validation-for="project_manager" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="target_member_join" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="target_member_join" class="form-control" />
                                                    <span asp-validation-for="target_member_join" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="active_member_join" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="active_member_join" class="form-control" disabled="disabled" />
                                                    <span asp-validation-for="active_member_join" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="passed_member" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="passed_member" class="form-control" disabled="disabled"/>
                                                    <span asp-validation-for="passed_member" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="x_status" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <select asp-for="x_status" class="form-control" asp-items="@Html.x_status_SelectList()"></select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>


                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {
            $.datepicker.regional['th'] = {
                dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
                yearRange: "-100:+1", yearOffSet: 543, beforeShow: dateDefault
            };
            $.datepicker.setDefaults($.datepicker.regional['th']);
            $("#project_date").datepicker($.datepicker.regional["th"]);
            $('#project_date_button').off('click').on('click', function () {
                $('#project_date').datepicker("show");
            });

            $("#project_approve_date").datepicker($.datepicker.regional["th"]);
            $('#project_approve_date_button').off('click').on('click', function () {
                $('#project_approve_date').datepicker("show");
            });
        });
        function dateDefault() {
            if ($("#project_date").val() == "" && ($("#project_date").is(":focus") || $("#project_date_button").is(":focus"))) { $("#project_date").datepicker("setDate", new Date()); }
            if ($("#project_approve_date").val() == "" && ($("#project_approve_date").is(":focus") || $("#project_approve_date_button").is(":focus"))) { $("#project_approve_date").datepicker("setDate", new Date()); }
        }
    </script>
}

