@model PPcore.Models.course

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
            <table><tr><td><h4 class="txt-color-blue">หลักสูตรอบรม</h4></td><td class="txt-color-blue" style="padding-top:2px">&nbsp;&nbsp;&nbsp;&nbsp;เพิ่มข้อมูลหลักสูตรอบรม</td></tr></table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab">หลักสูตรอบรม</a>
                        </li>
                    </ul>
                    <div style="background-color:#093D6A;height:8px;"></div>
                    <br />
                    <div id="renderBody">

                        <form asp-action="Create">
                            <div class="pull-right" style="margin-top:-72px;">
                                <button id="btnSave" type="submit" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-floppy-o" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;จัดเก็บ&nbsp;&nbsp;</button>
                                <div id="btnDetails" class="btn btn-default btn-panel-yellow" onclick="location.href='@Url.Action("Index", "courses")'">&nbsp;<i class="fa fa-file-text" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;ดูข้อมูลทั้งหมด</div>
                            </div>
                            <div class="form-horizontal">
                                <br />
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-8">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="course_code" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="course_code" class="form-control" />
                                                    <span asp-validation-for="course_code" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="project_code" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="project_code" class="form-control" />
                                                    <span asp-validation-for="project_code" class="text-danger" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="cgroup_code" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <select asp-for="cgroup_code" class="form-control" asp-items="@ViewBag.cgroup_code"></select>
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="ctype_code" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    @*<select id="district_code" name="district_code" class="form-control"></select>*@
                                                    <select asp-for="ctype_code" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="course_desc" class="control-label"></label></div>
                                                <div class="col-md-10">
                                                    <input asp-for="course_desc" class="form-control" />
                                                    <span asp-validation-for="course_desc" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="course_date" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input asp-for="course_date" class="form-control" readonly style="background-color:white">
                                                        <span class="input-group-btn">
                                                            <button id="course_date_button" class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <span asp-validation-for="course_date" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="course_approve_date" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input asp-for="course_approve_date" class="form-control" readonly style="background-color:white">
                                                        <span class="input-group-btn">
                                                            <button id="course_approve_date_button" class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <span asp-validation-for="course_approve_date" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="course_begin" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input asp-for="course_begin" class="form-control" readonly style="background-color:white">
                                                        <span class="input-group-btn">
                                                            <button id="course_begin_button" class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <span asp-validation-for="course_begin" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="course_end" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input asp-for="course_end" class="form-control" readonly style="background-color:white">
                                                        <span class="input-group-btn">
                                                            <button id="course_end_button" class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <span asp-validation-for="course_end" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="budget" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="budget" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" />
                                                    <span asp-validation-for="budget" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="ref_doc" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="ref_doc" class="form-control" />
                                                    <span asp-validation-for="ref_doc" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="charge_head" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="charge_head" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" />
                                                    <span asp-validation-for="charge_head" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="support_head" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="support_head" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" />
                                                    <span asp-validation-for="support_head" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="project_manager" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="project_manager" class="form-control" />
                                                    <span asp-validation-for="project_manager" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="target_member_join" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="target_member_join" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" />
                                                    <span asp-validation-for="target_member_join" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="active_member_join" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="active_member_join" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" />
                                                    <span asp-validation-for="active_member_join" class="text-danger" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2 text-right"><label asp-for="passed_member" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <input asp-for="passed_member" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" />
                                                    <span asp-validation-for="passed_member" class="text-danger" />
                                                </div>
                                                <div class="col-md-2 text-right"><label asp-for="x_status" class="control-label"></label></div>
                                                <div class="col-md-4">
                                                    <select asp-for="x_status" class="form-control" asp-items="@ViewBag.x_status"></select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>


                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {
            $.datepicker.regional['th'] = {
                dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
                yearRange: "-100:+1", yearOffSet: 543, beforeShow: dateDefault
            };
            $.datepicker.setDefaults($.datepicker.regional['th']);
            $("#course_date").datepicker($.datepicker.regional["th"]);
            $('#course_date_button').off('click').on('click', function () {
                $('#course_date').datepicker("show");
            });

            $("#course_approve_date").datepicker($.datepicker.regional["th"]);
            $('#course_approve_date_button').off('click').on('click', function () {
                $('#course_approve_date').datepicker("show");
            });

            $("#course_begin").datepicker($.datepicker.regional["th"]);
            $('#course_begin_button').off('click').on('click', function () {
                $('#course_begin').datepicker("show");
            });
            $("#course_end").datepicker($.datepicker.regional["th"]);
            $('#course_end_button').off('click').on('click', function () {
                $('#course_end').datepicker("show");
            });

            $('#cgroup_code').off("change").on("change", function (e) {
                $.ajax({
                    type: 'get', url: '@Url.Action("SelectBy", "course_type")' + '?cgroup_code=' + $('#cgroup_code').val(),
                }).done(function (resp) {
                    if (resp == "") {
                        $('#ctype_code').empty();
                        $('#ctype_code').prop("disabled", true);
                    } else {
                        $("#ctype_code").prop("disabled", false);
                        $('#ctype_code').empty();
                        $('#ctype_code').append(resp);
                    }
                });

            });

            $('#cgroup_code').trigger("change");
        });
        function dateDefault() {
            if ($("#course_date").val() == "" && ($("#course_date").is(":focus") || $("#course_date_button").is(":focus"))) { $("#course_date").datepicker("setDate", new Date()); }
            if ($("#course_approve_date").val() == "" && ($("#course_approve_date").is(":focus") || $("#course_approve_date_button").is(":focus"))) { $("#course_approve_date").datepicker("setDate", new Date()); }
            if ($("#course_begin").val() == "" && ($("#course_begin").is(":focus") || $("#course_begin_button").is(":focus"))) { $("#course_begin").datepicker("setDate", new Date()); }
            if ($("#course_end").val() == "" && ($("#course_end").is(":focus") || $("#course_end_button").is(":focus"))) { $("#course_end").datepicker("setDate", new Date()); }
        }
    </script>
}
